.photo{
    width: 200px !important;
    height: 200px !important;
    background-color: black;
    border-style: inset;
    border-color: goldenrod;
    margin-left: 80px;
    margin-top: 10px;
    
}

.price{
    width: 200px !important;
    height: 100px !important;
    background-color:grey;
    background-image: url("../Images/shopwidgetbackground.png");
    border-style: inset;
    border-color: goldenrod;
    margin-left: 80px;
    margin-top: 20px;
    
}
.grid{
    width: 1150px;
    margin-left: 250px;
    margin-top: 80px;
}

.row{
    width: 1120px;
    margin-top: 50px;
    margin-left: 20px;
}
.description{
    margin-top: 0px;
    color: goldenrod;
    -webkit-text-stroke: .25px rgb(32, 32, 32);
    font-size: 17px;
    margin-left: 5px;
}
.shopwidget{
    margin-top: -10px;
}
.dollars{
    margin-left: 5px;
    font-size: 40px;
    margin-top: 0px;
    color: goldenrod;
    -webkit-text-stroke: .25px rgb(32, 32, 32);
}
@media only screen and (max-width: 1150px){

}
@media only screen and (max-width: 1024px){
    .grid{
        margin-left: 60px;
        width: 800px;
    }
}
@media only screen and (max-width: 900px){
    .grid{
        margin-left: 20px;
        width: 800px;
    }

}


@media only screen and (max-width: 700px) {

    .grid{
        margin-left: 20px;
    }

    .photo{
        margin-left: 20px;
    }

    .price{
        margin-left: 20px;
    }
}